/* styles/FixedHeader.module.css */
.fixedHeader {
    position:relative;
    left: 0;
    width: 100%;
    right: 0;
    background-color:#e6d7ff;
    color: #ffffff ;
    padding: 10px;
    z-index: 1;
    display:flex;
    justify-content: flex-end;
  }
  .icons{
    height: 40px;
    width: 40px;
  }
  .phone{
    height: 25px;
    width: 25px;
    margin-top: 2px;
  }
  
  .title {
    font-size:x-large;
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end;
  }
  .navItem {
    cursor: pointer;
    padding: 5px;
    justify-content: flex-end;
  }
    