.colorBackground {
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
      at 71% 77%,
      #e6e6fa 0, /* Light Lavender */
      transparent 21%
    ),
    radial-gradient(at 36% 47%, #dda0dd 0, transparent 50%), /* Plum */
    radial-gradient(at 54% 29%, #dda0dd 0, transparent 28%), /* Plum */
    radial-gradient(at 45% 51%, #e6e6fa 0, transparent 53%), /* Light Lavender */
    radial-gradient(at 73% 44%, #d8bfd8 0, transparent 54%), /* Thistle */
    radial-gradient(at 24% 7%, #d8bfd8 0, transparent 40%), /* Thistle */
    radial-gradient(at 76% 46%, #e6e6fa 0, transparent 50%); /* Light Lavender */
  /* mix-blend-mode: normal; */
  max-height: 800px;
  height: 80vh;
  max-width: 1400px;
  width: 70vw;
  width: 100%;
  filter: blur(44px);
  z-index: -10;
}

.colorBackgroundBottom {
  left: 50%;
  transform: translateX(-50%) rotate(190deg);
  background: radial-gradient(
      at 83% 25%,
      #e6e6fa 0, /* Light Lavender */
      transparent 21%
    ),
    radial-gradient(at 36% 47%, #dda0dd 0, transparent 50%), /* Plum */
    radial-gradient(at 79% 45%, #dda0dd 0, transparent 28%), /* Plum */
    radial-gradient(at 66% 38%, #e6e6fa 0, transparent 53%), /* Light Lavender */
    radial-gradient(at 89% 13%, #d8bfd8 0, transparent 54%), /* Thistle */
    radial-gradient(at 24% 7%, #d8bfd8 0, transparent 40%), /* Thistle */
    radial-gradient(at 76% 46%, #e6e6fa 0, transparent 50%); /* Light Lavender */
  /* mix-blend-mode: normal; */
  height: 600px;
  max-width: 900px;
  width: 55vw;
  width: 100%;
  filter: blur(44px);
  z-index: -10;
}
